<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <jmxConfigurator />

    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/videoness/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 20 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.videoness">
        <level value="debug" />
    </logger>-->

    <root level="error">
        <appender-ref ref="rolling" />
    </root>

</configuration>