.vid-date-box {
  width: 30%;
  padding: 8px 8px 0 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  color: white;
  display: table;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: fixed;
  z-index: 7;
}
