@font-face {
  font-family: 'glyphicons halflings';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
  url('fonts/icomoon.ttf') format('truetype'),
  url('fonts/icomoon.woff') format('woff'),
  url('fonts/icomoon.svg') format('svg');
}

.vid-video-inst-container {
  width: 100%;
  position: relative;
}

.video-overlay__loader .video-spinner, .video-overlay__play .video-icon {
  padding: 15px 20px;
  border-radius: 5px;
}

.vid-video-inst .video__el {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.vid-overlay-sidebar {
  position: absolute;
  /*padding: 8px 8px 0 8px;*/
  border-radius: 3px;
  right: 50%;
  top: 50%;
  /*background-color: rgba(0,0,0,0.8);*/
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.vid-video-inst-container:hover .vid-overlay-sidebar {
  opacity: 1;
  transition-delay: 0s;
}

.vid-overlay-sidebar-button {
  width: 32px;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
}

.vid-overlay-sidebar-button:hover {
  transform: scale(1.1);
}

.vid-sidebar-fav-icon {
  font-size: 32px;
  color: #B40101;
  cursor: pointer;
  display: block;
}

.vid-sidebar-fav-icon:hover {
  color: white;
  transform: scale(1.1);
}

.vid-sidebar-faved-icon {
  font-size: 32px;
  color: white;
  cursor: pointer;
  display: block;
}

.vid-sidebar-faved-icon:hover {
  color: #B40101;
  transform: scale(1.1);
}

.vid-sidebar-plus-icon {
  font-size: 32px;
  color: #B40101;
  display: block;
  cursor: pointer;
}

.vid-sidebar-plus-icon:hover {
  color: white;
  transform: scale(1.1);
}

.vid-sidebar-minus-icon {
  font-size: 32px;
  color: #B40101;
  display: block;
  cursor: pointer;
}

.vid-sidebar-minus-icon:hover {
  color: white;
  transform: scale(1.1);
}

.vid-hidden {
  display: none;
}

.vid-glyphicon {
  position: relative;
  top: 1px;
  font-family: 'glyphicons halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.vid-glyphicon-group:before {
  content: "\e900";
}

.vid-sidebar-privacy-icon {
  font-size: 32px;
  color: #B40101;
  display: block;
  cursor: pointer;
}

.vid-sidebar-privacy-icon:hover {
  color: white;
  transform: scale(1.1);
}
